#This is the git ignore file used in Duck Hunted
#Note that ! negates an ignore. We ignore everything in Library then
#un-ignore the metadata folder and some specific files
#Use at your own risk, this may totally destroy your project, but it worked for us 
 
 #NOTE: this will cause your collaborators to re-import assets periodically
 Senior-Project/Temp/*
 Senior-Project/Library/*
 Senior-Project/Build/*
 
 #Un-ignore these specific files
 !Senior-Project/Library/*.asset
 !Senior-Project/Library/AssetImportState
 !Senior-Project/Library/AssetVersioning.db
 !Senior-Project/Library/BuildPlayer.prefs
 !Senior-Project/Library/ScriptMapper
 !Senior-Project/Library/assetservercachev3
 !Senior-Project/Library/expandedItems
 !Senior-Project/Library/guidmapper
 !Senior-Project/Library/unity default resources
 !Senior-Project/Library/unity editor resources
 !Senior-Project/Library/metadata/ 
 
 #ignoring pidb, they are just code completion caching data according to:
 # http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
 
 *.pidb
 *.userprefs
 *.sln